.Card-body {
  height: 25%;
  width: 20%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  border-radius: 5px;
  transition: 150ms ease-in-out;
  margin: 50px;
}
.Card-body:hover {
  width: 25%;
  height: 27%;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}
.image img {
  height: calc(100vh - 720px);
  transition: 150ms ease-in-out;
}
.Card-body:hover .image img {
  height: calc(100vh - 700px);
}
.text {
  text-decoration: none;
  color: black;
  font-size: calc(100vh - 750px);
  transition: 150ms ease-in-out;
}
.Card-body:hover .text {
  text-decoration: none;
  color: black;
  font-size: calc(100vh - 7o0px);
  transition: 150ms ease-in-out;
}

.Card-body a {
  text-decoration: none;
}
.Card-body:hover .text {
  font-size: calc(100vh - 745px);
  transition: 150ms ease-in-out;
}
